#logo {
    position: relative;
    margin: 1.75em 1.5em 1.5em 1.5em;
    min-height: 48px;
    cursor: default;
}

    #logo h1 {
        position: relative;
        color: #fff;
        font-weight: 600;
        font-size: 1em;
        line-height: 1em;
    }

    #logo p {
        position: relative;
        display: block;
        font-size: 0.6em;
        color: rgba(255, 255, 255, 0.5);
        line-height: 1.25em;
        margin: 0.5em 0 0 0;
    }

    #logo .image {
        position: absolute;
        left: 0;
        top: 0;
    }